
 <footer>
     
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-6">
               <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d26287.4066770693!2d-58.46829566061503!3d-34.55543315576179!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcb5d28526611d%3A0xbcb585a9ddc70069!2sBelgrano%2C%20CABA!5e0!3m2!1ses!2sar!4v1612607422934!5m2!1ses!2sar"
                    width="370" height="150" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false"
                    tabindex="0">
                </iframe>
            </div>
                    
        
            <div class="contact col-12 col-md-6 col-lg-6">
               
                <h1 class="sci-contenido">Contacto</h1>
               
                    <ul class="sci">
                     <li><a href="#"><i class="fab fa-facebook-square"></i></a></li>
                     <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                     <li><a href="#"><i class="fab fa-whatsapp-square"></i></a></li>
                    </ul>
                
            </div>
        </div>
        
        
    <div class="footer-copyright text-center py-3">
        <p>&copy; copyright || MammaSpa 2021</p>
    </div>
        
    </div>

 </footer> 
