<header class="container-fluid header-nav-main">
    <nav class="navbar navbar-expand-lg bg-nav-mms">
        <button class="navbar-toggler bg-mms" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">

            <div class="navbar-nav">
                
                <% if (typeof userLogin != 'undefined' && userLogin.role == 'admin') { %>
                    <ul class="navbar-nav">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span>Hola! <%= userLogin.name %></span> 
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="/admin/services/list">Mis Servicios</a>
                            <a class="dropdown-item" href="/admin/products/list">Mis Productos</a>
                            <a class="dropdown-item" href="">Mi Perfil</a>
                            <a class="dropdown-item" href="/users/logout">Cerrar sesión</a>
                            </div>
                        </li>
                    </ul>
                <% } %>

                <a class="nav-link link-n" href="/">Home</a>
                <a class="nav-link link-n" href="/services">Servicios</a>
                <a class="nav-link link-n" href="/products">Productos</a>
                <a class="nav-link link-n" href="/users/login">Login</a>
                <% if (typeof userLogin != 'undefined' && 'admin' != userLogin.role) { %>
                    <ul class="navbar-nav">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span>Hola! <%= userLogin.name %></span> 
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="">Perfil</a>
                            <a class="dropdown-item" href="/users/logout">Cerrar sesión</a>
                            </div>
                        </li>
                    </ul>
                <% } %>
                <a class="nav-link fas fa-shopping-bag i-bag" href="/carrito"></a>
            </div>

        </div>
    </nav>
</header>