<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head') %>
  
<body>
  <!-- Navigation -->
    <%- include('partials/header') %>

      <div class="container-d-products mt-5 mb-5">

        <div class="box-img-product">
          <img src="/images/face-b-02.jpg" alt="" class="img-fluid">
        </div>
  
        <div class="box-detalle-product">
          <div class="box-d-p">
            <h3 class="title-dp mb-3">Titulo del producto/servicio</h3>
            <h4 class="title-price-dp mb-3">$ 200,00</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non soluta eius voluptatibus incidunt eum libero vel totam eos doloremque ad.</p>

            <input class="btn-dp mb-2" type="number" placeholder="Cantidad" style="text-align:center;">
            <div class="btn btn-primary">Agregar al carrito</div>
          </div>
        </div>

      </div>
    
    <!-- Footer -->
    <%- include('partials/footer') %>
</body>
</html>