<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head') %>
  
<body>
    <%- include('partials/header') %>
    <div class="container">
        <div class="row">
    
        <div class="col-12 col-md-6 col-lg-6">
            <img src="/images/producto-01.png" height="500" alt="">
          </div>
    
          <div class="box-product col-12 col-md-6 col-lg-6">
            <div class="container-d-product">
              <h2 class="mt-5">Nombre del Producto</h2>
    
              <h3 class="precio my-3">$ Precio</h3>
               
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. In molestias cupiditate doloremque hic sequi quam mollitia possimus eligendi sed placeat.</p>
              <div class="botones">
               <form action=""><input type="number" placeholder="Cantidad" style="text-align:center;"></form>
              </div>
              
              <button class="btn btn-success mt-3" style="color: #707B7C; background: #fcdca9; border-color:  #fbe2ce;">Agregar al carrito</button>
            </div>
          
          </div>
    
        
        </div>
      </div>
      <%- include('partials/scripts') %>
      <%- include('partials/footer') %>
</body>
</html>