<!DOCTYPE html>
<html lang="es">

<!-- Head -->
<%- include('partials/head') %>
<body>
    <%- include('partials/header') %>
     
    <div class="registro abm">
     <div class="container-fluid"> 
        <div class="shadow-lg p-3 mb-5 bg-white rounded text-center">
     
          <h3>Mis productos | servicios | ABM</h3>
       </div>  
     </div>  
     <div class="container-fluid">
        <form action="" method="POST"> 

            <div class="row">
                <div class="col-12 col-md-6 col-lg-6 ">                           
                <p><label class="form-label"  for="nombre">Crear producto | servicio:</label></p>
                    
                <input type="text" class="form-control"  name="nombre" id="nombre" placeholder="Ingrese nombre producto o servicio" ><br>
                    
                <p><label for="valor">Valor:</label></p>
                <input type="number"class="form-control" name="valor" id="valor"><br>
                   
                <label for= "" class="form-label">Descripcion del producto | servicio</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea><br>
                    
                
                </div>
            
                <div class="col-12 col-md-6 col-lg-6 "> 

                
                <img src="/images/face-b-02.jpg" class="img-fluid shadow p-3 mb-5 bg-white rounded" alt="foto">
               
                     
                <input class="btn btn-primary" type="reset" value="Reset">
                   
                <input class="btn btn-primary" type="submit" value="Submit">
                <a class="btn btn-primary" href="#" role="button">Link</a>            
            
            </div>
        </form>    
    </div> 
    
     
</div>   

</body>
</html> 
        

