<!DOCTYPE html>
<html>
  <head>
    <%- include('partials/head') %>
  </head>
  <body>
    <!-- Navigation -->
    <%- include('partials/header') %>

    <div class="home-main">
    </div>

    <!-- Scripts Bootstrap -->
    <%- include('partials/scripts') %>
  </body>
</html>