<!DOCTYPE html>
<html>

<head>
  <%- include('partials/head') %>
</head>

<body>
  <!-- Navigation -->
  <%- include('partials/header') %>

    <!-- Home Image -->
    <div class="container">
      <div class="col-12 col-md-12 col-lg-12 home-main">
      </div>
    </div>

    <div class="container">
      <h2 class="mt-5 title-ns">Nuestros Servicios</h2>
      <div class="ns-box">


        <div class="card mt-3 box-t box-f">
          <img src="/images/face-mitad.jpg" class="card-img-top img-ns-f" alt="Imagen de rostro">
          <div class="card-body">
            <div class="btn btn-block">Tratamientos Faciales</div>
          </div>
        </div>

        <div class="card mt-3 box-t box-h">
          <img src="/images/manos-07.jpg" class="card-img-top img-ns-h" alt="Imagen de manos">
          <div class="card-body">
            <div class="btn btn-block">Tratamientos de Manos</div>
          </div>
        </div>

      </div>
    </div>

    <!-- Sección de Servicios -->
    <div class="container my-5">
      <div class="box-s-main">
        <div class="card mb-3" style="max-width: 820px;">
          <div class="row no-gutters">
            <div class="col-md-4">
              <img src="/images/face-b-02.jpg" class="card-img" alt="...">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">Titulo del servicio</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <div class="btn btn-warning">Agendar Consulta</div>
                <div class="btn btn-warning">Agregar a mi Cartera</div>
              </div>
            </div>
          </div>
        </div>

        <div class="card mb-3" style="max-width: 820px;">
          <div class="row no-gutters">
            
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">Titulo del servicio</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <div class="btn btn-success">Agendar Consulta</div>
                <div class="btn btn-success">Agregar a mi Cartera</div>
              </div>
            </div>
            <div class="col-md-4">
              <img src="/images/manos-08.jpeg" class="card-img" alt="...">
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Sección de Productos -->
    <div class="container pb-5">
      <h3 class="mb-3">Nuestros Productos</h3>
      <div class="row">

          <div class="card col" style="width: 18rem;">
            <img src="/images/producto-01.png" class="card-img-top" alt="...">
            <div class="card-body">
              <p>Lorem ipsum dolor sit amet.</p>
              <div class="row justify-content-end mt-4">
                <a href="#" class="btn btn-primary">+</a>
              </div>
            </div>
          </div>
        
          <div class="card col" style="width: 18rem;">
            <img src="/images/producto-02.png" class="card-img-top" alt="...">
            <div class="card-body">
              <p>Lorem ipsum dolor sit amet.</p>
              <div class="row justify-content-end mt-4">
                <a href="#" class="btn btn-primary">+</a>
              </div>
            </div>
          </div>
        
          <div class="card col" style="width: 18rem;">
            <img src="/images/producto-03.png" class="card-img-top" alt="...">
            <div class="card-body">
              <p>Lorem ipsum dolor sit amet.</p>
              <div class="row justify-content-end mt-4">
                <a href="#" class="btn btn-primary">+</a>
              </div>
            </div>
          </div>
        
          <div class="card col" style="width: 18rem;">
            <img src="/images/producto-01.png" class="card-img-top" alt="...">
            <div class="card-body">
              <p>Lorem ipsum dolor sit amet.</p>
              <div class="row justify-content-end mt-4">
                <a href="#" class="btn btn-primary">+</a>
              </div>
            </div>
          </div>
        
      </div>
    </div>

    <!-- Scripts Bootstrap -->
    <%- include('partials/scripts') %>
</body>

</html>