<!DOCTYPE html>
<html lang="en">
    <head>
      </head>

<body>
<div class="container">

  <ul class="slider">

    <li id="slide1">
      <img src="/mockups/Mockups1.png">
    </li>

    <li id="slide2">
      <img src="/mockups/Mockups2.png">
    </li>

    <li id="slide3">
      <img src="/mockups/Mockups3.png">
    </li>

    <li id="slide4">
      <img src="/mockups/Mockups4.png">
    </li>

    <li id="slide5">
      <img src="/mockups/Mockups5.png">
    </li>

    <li id="slide6">
      <img src="/mockups/Mockups6.png">
    </li>

    <li id="slide7">
      <img src="/mockups/Mockups7.png">
    </li>



  </ul>
</div>

</body>


</html>