<!DOCTYPE html>
<html lang="en">
    <head> <%- include('partials/head') %>
      </head>

<body>
<div class="container" id="mockups">

  <ul class="slider" >

    <li id="slide1">
      <img src="/images/mockups/Mockups1.png">
    </li>

    <li id="slide2">
      <img src="/images/mockups/Mockups2.png">
    </li>

    <li id="slide3">
      <img src="/images/mockups/Mockups3.png">
    </li>

    <li id="slide4">
      <img src="/images/mockups/Mockups4.png">
    </li>

    <li id="slide5">
      <img src="/images/mockups/Mockups5.png">
    </li>

    <li id="slide6">
      <img src="/images/mockups/Mockups6.png">
    </li>

    <li id="slide7">
      <img src="/images/mockups/Mockups7.png">
    </li>

  </ul>

  <ul class="next" style="margin-top: 400px;">
    <li> <a href="#slide1"> 1 </a></li>

    <li> <a href="#slide2"> 2 </a></li>

    <li> <a href="#slide3"> 3 </a></li>

    <li> <a href="#slide4"> 4 </a></li>

    <li> <a href="#slide5"> 5 </a></li>

    <li> <a href="#slide6"> 6 </a></li>

    <li> <a href="#slide7"> 7 </a></li>


  </ul>
</div>

</body>


</html>