<!DOCTYPE html>
<html lang="es">

<!-- Head -->
<%- include('partials/head') %>
<body>
    <%- include('partials/header') %>
    <main>
        <div class="container mt-5">
            <h1>Listado de Productos y Servicios</h1>


          
        
          

        </div>    
    </main>  
  
</body>