
#footer{
    margin: 0%;
    padding: 0%;
    width: 100%;
}

#mapaFooter {
  margin: 0%;
  padding: 0%;  
 
  margin-bottom: 2%;
}

#horario{
    margin-top: 5%;
}

.iframe-footer{
    margin-top: 20px;
}

.container-footer {
    
    margin-left:0;
    box-sizing: content-box;
    width: 90%;
   padding:0%;
}
footer .container .row .contact{
    text-align: left;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    align-content: center;
    align-items: center;
    margin-top: 2px;
    margin-bottom: 0px;
    justify-content: space-around; 
  
}
.iconoFooter {
   color: #d3b8a3;
}

.sci-contenido{ 
   color: #d3b8a3;
   text-align: center;
   font-weight: 400;
   margin-bottom: 0px;
   border-bottom: solid #fbe2ce 3px;
  
}
.sci{
    margin-top: 15px;
    display: flex;
    padding:0px;
    flex-direction: row;
    justify-content: space-between;
    justify-content: center;
    
}
.sci li {
    list-style: none;
    padding: 2px;

}
.sci li a {
    display: inline-block;
    padding: 10px;
    background: #fcfaf6;
    text-decoration: none;
    border-radius: 4px;
}
.sci li a:hover{
    background: #d3b8a3;
    transition: background-color .5s;

}
.sci li a .fab{
    color: #d3b8a3;
    font-size: 20px;
}
.footer-copy{
    text-align: center;
    margin-top: 10px;
}

.info{
    
    margin-top: 45px;
}

/* Media Queries del footer */
@media (max-width: 426px) {
    .iframe-footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 0px;
    }

    iframe {
        width: 90%;
    }

    #redesIcons{
        padding: 0%;
    }

    #infoContact{
        font-size: 15px;
        margin-top: 2%
        
        
    }

    #horario{
        font-size: 15px;
    }
}

@media (max-width: 416px) {
    .iframe-footer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #redesIcons{
        padding: 0%;
    }

    #infoContact{
        font-size: 12px;
        margin-top: 2%;
    }

    #horario{
        font-size: 12px;
    }

    iframe {
        width: 90%;
    }
}

.footer-container {
    display: flex;
    border: 1px solid black;
    margin-bottom: 10px;
}

@media (max-width: 768px) {
    .iconoFooter {
        flex-direction: column;
        align-items: center;
    }
}

@media (min-width: 768px){
    #footer{
    overflow: hidden;
    padding-left: 1%;
    }
    #mapaFooter{
        box-sizing: content-box;
        width: 118%;
        overflow: hidden;
        padding-left: 0%;
    }
  
    #mail{
        font-size: 15px;
    }
    #horario{
        margin-top: 0%;
    }
    #redesIcons{
        padding-left: 16%;
    }
    #infoContact{
        margin-top: 1%;
        line-height: 0.5em;
        margin-top: 2%;
    }

}

@media (min-width: 992px){
    #infoContact{
        padding-left: 3%;
        font-size: 18px;
        margin-top: 2%;
    }

    #mail{
        font-size: 16px;
    }

    .iconoFooter{
        width: 25px;
        height: 25px;
    }

    #horario{
        padding-left: 5%;
    }
}

@media (min-width: 1200px){



    .sci{
        margin-top: 15px;
        display: flex;
        padding-left: 0%;
        padding:0px;
        flex-direction: column;
        justify-content: space-between;
    }
    .sci li a {
        padding: 2px;
    }

    #redesIcons{
        padding-left: 0%;
    }

    #horario{
        margin-top: 0%;
        padding: 0%;
    }

    #textoHorario{
        padding-top: 3%;
    }

    #mail{
        font-size: 15px;
    }
    #infoContact{
        padding: 0%;
        padding-left: 3%;
        margin-top: 2%
    }



    } 
