.abm {

     background-color: #fcfaf6 ;
}
h2 {
    background-color: #d3b8a3 ;
    color: azure;
    position:sticky;
    box-shadow: black 0px 0px 0em peachpuff ;
}

.btn { 
    background-color: rgb(252, 128, 114);
   
}    

