* {
    
    box-sizing: border-box;
    margin: 0;
    padding:0;
    background-color: #fcfaf6 ; 

}


#login {
    padding-top: 5em;
    background-color: #fcfaf6 ;
    color:#666666;
    margin-bottom: 2em;
}

.btn-primary {
   color: #fff;
   background-color: rgb(252, 128, 114);
   border-color:#fbe2ce ;
  
}
.btn-primary:hover{
    background-color: #d3b8a3;
    border-color: #fbe2ce; 
 
 } 

 
h3 {
   
   font-size: 1.3em;
   background-color:#fbe2ce ;
}