* {
    box-sizing: border-box;
    margin: 0;
}


.abm {

     background-color: #fcfaf6 ;
}

.btn-primary {
    color: #fff;
    background-color: rgb(252, 128, 114);
    border-color:#fbe2ce ;
   
} 
   
.abm h3 {
    
    font-size: 1.3em;
    background-color:#fbe2ce ;
}