*{
    box-sizing: border-box;
    margin: 0;
    padding:0;
    background-color: #fcfaf6;
}
body{
    background-color: #fcfaf6;
}
div .container-abm {
    padding-top: 4em;
    background-color: #fcfaf6 ;
    color:#666666
    

} 

div .abm {
    margin-left: 0.9em;
    margin-right: 0.9em;
    
}
    
.btn-primary {
    color: #fff;
    background-color: rgb(252, 128, 114);
    border-color:#fbe2ce ;
} 
.btn-primary:hover{
    background-color: #d3b8a3;
    border-color: #fbe2ce; 
 
 }
#abm {
    font-size: 2rem;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color:#d3b8a3 ;
    color:aliceblue;
}