/* Navigation */
.header-nav-main {
    background-color: #fbe2ce;
    height: 10vh;
    opacity: 90%;
}

.bg-nav-mms {
    /* background-color: #fcfaf6; */
}

.link-n {
    color: rgb(0, 0, 0, .90);
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: 2px;
}

.header-main .bg-mms {
    background-color: #d3b8a3;
}

.header-main .navbar-toggler-icon {
    border: 1px solid black;
}

/* Icon Shopping-bag */
.header-main .i-bag {
    margin-top: 3px;
}