* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Home Image */
.home-main {
    background: url(../images/portada01.jpg);
    height: 91vh;
    width: 100vw;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

/* Box e imagenes del titulo de: Nuestros Servicios */
.ns-box {
    height: 70vh;
}

.box-t {
    width: 25rem;
    height: 370px;
}

.box-face {
    height: 270px;
}

.box-hand {
    height: 270px;
}

.img-ns-h {
    height: 100%;
}

.img-ns-f {
    height: 100%;
}

.ns-box {
    display: flex;
    justify-content: center;
}

.ns-box .box-t .btn {
    background-color: rgb(252, 128, 114);
}

/* Box de la sección de Servicios */
.box-s-main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box-s-main .btn {
    background-color: rgb(252, 128, 114);
}

/* Sección de Productos */
.container-products {
    margin: 0 auto;
    height: 90vh;
    width: 50vw;
}

.box-t-product {
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
}

.box-b-product {
    display: flex;
    justify-content: center;
}

.box-product {
    width: 270px;
    height: 270px;
    border: 0.5px solid rgb(211, 211, 211);
}

.img-p {
    height: 100%;
    width: 100%;
}

/* Medias Queries */

@media screen and (min-width: 768px) and (max-width: 1024px) {
    /* Sección de Productos */
    .container-products {
        margin: 0 auto;
        height: 500px;
        width: 500px;
    }

    .box-product {
        width: 230px;
        height: 230px;
        border: 0.5px solid rgb(211, 211, 211);
    }
}

@media screen and (min-width: 426px) and (max-width: 767px) {
    .title-ns {
        font-size: 2rem;
        margin-left: 0;
    }

    .img-ns-f {
        height: 65%;
    }

    .img-ns-h {
        height: 65%;
    }

    /* Sección de Nuestros Productos */
    .container-products{
        width: 90vw;
        height: 100%;
    }

    .box-t-product {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .box-b-product {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .box-product {
        width: 70%;
        height: 70%;
        border: 0.5px solid rgb(211, 211, 211);
    }
}

@media screen and (min-width: 320px) and (max-width: 425px) {
    /* Nuestros Servicios Home */
    .ns-box {
        height: 100%;
    }

    .box-t {
        width: 90%;
        height: 75%;
    }

    .box-face {
        height: 65%;
    }

    .box-hand {
        height: 65%;
    }

    /* Servicios */
    .title-ns {
        font-size: 22px;
        margin-left: 0px;
    }

    .card-ns {
        width: 80%;
    }

    .ns-box {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .img-ns-f {
        height: 100%;
    }

    .img-ns-h {
        height: 100%;
    }

    /* Sección de Nuestros Productos */
    .container-products{
        width: 90vw;
        height: 100%;
    }

    .box-t-product {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .box-b-product {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .box-product {
        width: 70%;
        height: 70%;
        border: 0.5px solid rgb(211, 211, 211);
        
    }

    .btn-service {
        margin-bottom: 5px;
    }

}