html {
    box-sizing: border-box;
    font-size: 16px;
    scroll-behavior: smooth;
}

/* Home Image */
.container-home-main {
    height: 91vh;
    width: 100%;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr repeat(2, 0.8fr) 0.6fr 0.3fr;
    grid-template-rows: 1fr repeat(2, 1.5fr) 150px;
}

.box-img-home {
    background: url(../images/portada01.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    grid-row: 1 / 5;
    grid-column: 2 / 6;
}

.box-title {
    grid-row: 2 / 4;
    grid-column: 1 / 3;
    background: rgb(211, 211, 211, 0);
}

.title-home {
    font-family: 'Kurale', serif;
    font-size: 7.5rem;
    color: rgb(252, 128, 114);
    letter-spacing: 0.5rem;
    background: rgb(211, 211, 211, 0);
}

.box-img-two {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    grid-row: 4 / 5;
    grid-column: 4 / 5;
    border-radius: 7px 7px 0 0;
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 1px 10px 0 rgba(252, 203, 230, 0.37);
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.hands-home-img {
    width: 50%;
    height: 80%;
    background: rgba( 255, 255, 255, 0 );

}

.arrow-icon {
    color: rgb(252, 128, 114);
    font-size: 2rem;
    margin-bottom: 2rem;
    margin-left: 1.5rem;
}

/* Box e imagenes de la sección: Nuestros Servicios */
.container-ns {
    height: 99vh;
    width: 85%;
    display: flex;
    justify-content: center;
}

/* Contenedor de manos */
.box-right-ns {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1.2fr) 0.4fr 0.5fr;
    width: 40%;
}

.box-hands {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-row: 1 / 6;
    grid-column: 1 / 5;
}

.hands-img-ns {
    height: 95%;
    width: 85%;
    border-radius: 3px;
}

.hands-box-title {
    grid-row: 4 / 5;
    grid-column: 1 / 5;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.8rem;
    background: rgb(252, 128, 114, 0.20);
    box-shadow: 0 8px 16px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border: 1px solid rgba(255, 255, 255, 0.18);
    border-radius: 0.3rem;
}

.hands-title {
    /* font-family: 'Roboto', sans-serif; */
    color: rgb(0, 0, 0, .75);
    font-size: 1.2rem;
    height: 1rem;
}

/* Contenedor de rostro y productos */
.box-left-ns {
    width: 40%;
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: repeat(5, 1fr);
}

.box-face {
    display: flex;
    justify-content: center;
    height: 90%;
    width: 85%;
    grid-row: 1 / 5;
    grid-column: 1 / 7;
}

.face-img-ns {
    width: 80%;
    height: 100%;
    border: 0.5px solid rgb(252, 128, 114, 0.25);
    border-radius: 3px;
}

.face-box-title {
    grid-row: 4 / 5;
    grid-column: 1 / 6;
    padding: 1rem;
    margin-bottom: 1rem;
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 16px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border: 1px solid rgba(255, 255, 255, 0.18);
    border-radius: 0.3rem;
}

.face-title {
    /* font-family: 'Roboto', sans-serif; */
    color: rgb(0, 0, 0, .75);
    font-size: 1.1rem;
    height: 0.8rem;
}

.box-products {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90%;
    width: 90%;
    border: 0.5px solid rgb(252, 128, 114, 0.50);
    border-radius: 3px;
    grid-row: 5 / 7;
    grid-column: 1 / 6;
}

.product-img-ns {
    width: 47%;
    height: 95%;
}

/* Box de la sección de Servicios */
.box-s-main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box-s-main .btn {
    background-color: rgb(252, 128, 114);
}

/* Sección de Productos */
.container-products {
    margin: 0 auto;
    height: 90vh;
    width: 50vw;
}

.box-t-product {
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
}

.box-b-product {
    display: flex;
    justify-content: center;
}

.box-product-1 {
    width: 270px;
    height: 270px;
    border: 0.5px solid rgb(211, 211, 211);
    margin-right: 15px;
}

.box-product-2 {
    width: 270px;
    height: 270px;
    border: 0.5px solid rgb(211, 211, 211);
    
}

.box-product-3 {
    width: 270px;
    height: 270px;
    border: 0.5px solid rgb(211, 211, 211);
    margin-right: 15px;
}

.box-product-4 {
    width: 270px;
    height: 270px;
    border: 0.5px solid rgb(211, 211, 211);
}

.img-p {
    height: 100%;
    width: 100%;
}

/* Medias Queries */

@media screen and (min-width: 769px) and (max-width: 1024px) {
    /* Sección de Productos */
    .container-products {
        margin: 0 auto;
        height: 500px;
        width: 500px;
    }

    .box-product {
        width: 230px;
        height: 230px;
        border: 0.5px solid rgb(211, 211, 211);
    }
    /* Box de la imagen de manos en el home */
    .box-img-two {
        grid-row: 4 / 5;
        grid-column: 4 / 6;
    }

    
}

@media screen and (min-width: 426px) and (max-width: 768px) {
    .title-ns {
        font-size: 2rem;
        margin-left: 0;
    }

    .img-ns-f {
        height: 65%;
    }

    .img-ns-h {
        height: 65%;
    }

    /* Sección de Nuestros Productos */
    .container-products{
        width: 90vw;
        height: 100%;
    }

    .box-t-product {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .box-b-product {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .box-product {
        width: 70%;
        height: 70%;
        border: 0.5px solid rgb(211, 211, 211);
    }

    /* Box de la imagen de manos en el home */
    .box-img-two {
        display: none;
    }

    .title-home {
        font-size: 5rem;
    }

    .box-left-ns {
        width: 70%;
    }

    .box-right-ns {
        width: 65%;
    }

    .navbar-nav {
        background-color: #fbe2ce;
        opacity: 90%;
    }

    .navbar-nav .nav-link {
        padding-left: 15px;
    }
    
}

@media screen and (min-width: 320px) and (max-width: 425px) {
    /* Nuestros Servicios Home */
    .ns-box {
        height: 100%;
    }

    .box-t {
        width: 90%;
        height: 75%;
    }

    .box-face {
        height: 65%;
    }

    .box-hand {
        height: 65%;
    }

    /* Servicios */
    .title-ns {
        font-size: 22px;
        margin-left: 0px;
    }

    .card-ns {
        width: 80%;
    }

    .ns-box {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .img-ns-f {
        height: 100%;
    }

    .img-ns-h {
        height: 100%;
    }

    /* Sección de Nuestros Productos */
    .container-products{
        width: 90vw;
        height: 100%;
    }

    .box-t-product {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .box-b-product {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .box-product {
        width: 70%;
        height: 70%;
        border: 0.5px solid rgb(211, 211, 211);
        
    }

    .btn-service {
        margin-bottom: 5px;
    }

    .navbar-nav {
        background-color: #fbe2ce;
        opacity: 90%;
    }

    .navbar-nav .nav-link {
        padding-left: 15px;
    }

}