<!DOCTYPE html>
<html>
  <!-- Head -->
  <%- include('partials/head') %>
  <body>
    <!-- Navigation -->
    <%- include('partials/navigation') %>


    <!-- Scripts Bootstrap -->
    <%- include('partials/scripts') %>
  </body>
</html>
